<ion-tabs [environmentInjector]="environmentInjector">
  <ion-tab-bar slot="bottom" class="py-2">
    <ion-tab-button tab="list">
      <span class="iconify text-3xl" data-icon="mdi:house"></span>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
