<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> PRODUCT </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="product$ | async as product">
    <swiper [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let image of product.images">
        <div class="h-56 flex items-center bg-white">
          <img [src]="image" class="h-56 w-full" />
        </div>
      </ng-template>
    </swiper>
    <div class="ion-padding flex flex-col gap-y-2">
      <p class="text-lg">{{ product.brand }} {{ product.title }}</p>
      <div class="flex flex-row gap-x-1">
        <star-rating [rating]="product.rating"></star-rating>
        <span>({{ product.rating }})</span>
      </div>
      <div class="flex flex-col bg-neutral-700 p-2 rounded-lg">
        <span
          >Price:
          <span class="text-red-500">
            {{ product.price.toFixed(2) }} $
          </span></span
        >
        <span class="border broder-white my-1 w-full"></span>

        <span class="text-sm text-neutral-400">Stock: {{ product.stock }}</span>
      </div>
    </div>
  </ng-container>
</ion-content>
